.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
}

.main__window-header {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--clr-grey-300);
  color: var(--clr-grey-500);
}

.main__markdown-window {
  padding: 1rem;
  font: 400 0.875rem/1.714 var(--ff-editor);
}

.main__preview-window {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--clr-grey-500);
  padding: 1rem 1.25rem;
  font: 400 0.875rem/1.714 var(--ff-preview);
}

.main__markdown-window,
.main__preview-window {
  flex: 1;
  overflow-y: auto;
}

textarea {
  border: none;
  width: 100%;
  height: 100vh;
  resize: none;
  outline: none;
}

textarea:focus-visible {
  box-shadow: none;
}
