.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
}

.main__window-header {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--window-header-bg);
  color: var(--text-color);
}

.main__markdown-window {
  background: var(--bg-color);
  color: var(--heading-color);
  padding: 1rem;
  font: 400 0.875rem/1.714 var(--ff-editor);
}

.main__preview-window {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--text-color);
  padding: 1rem 1.25rem;
  font: 400 0.875rem/1.714 var(--ff-preview);
}

.main__markdown-window,
.main__preview-window {
  flex: 1;
  overflow-y: auto;
}

textarea {
  border: none;
  width: 100%;
  height: 100vh;
  resize: none;
  outline: none;
}

textarea:focus-visible {
  box-shadow: none;
}

blockquote {
  background: var(--code-bg);
  font-weight: 600;
  color: var(--heading-color);
  border-radius: 4px;
  padding: 24px;
  border-left: 4px solid var(--clr-primary);
}

blockquote a {
  color: var(--heading-color);
}

ol {
  padding-left: 2.2rem;
}

ul {
  padding-left: 2rem;
}
ul li::marker {
  font-size: 10px;
  color: var(--clr-primary);
}

ul li {
  padding-left: 9px;
}

ol li {
  padding-left: 7px;
}

pre {
  background-color: var(--code-bg);
  color: var(--heading-color);
  padding: 16px;
  border-radius: 4px;
}

pre code {
  background: none;
  padding: 0;
  color: inherit;
  white-space: pre-wrap; /* Wraps long lines instead of scrolling */
  word-wrap: break-word; /* Breaks long words if needed */
}
