/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* design tokens */
:root {
  /* neutrals (greys) */
  --clr-grey-1000: hsl(225, 9%, 9%);
  --clr-grey-900: hsl(216, 8%, 12%);
  --clr-grey-800: hsl(220, 7%, 18%);
  --clr-grey-700: hsl(216, 9%, 23%);
  --clr-grey-600: hsl(216, 8%, 38%);
  --clr-grey-500: hsl(213, 4%, 51%);
  --clr-grey-400: hsl(222, 9%, 78%);
  --clr-grey-300: hsl(0, 0%, 89%);
  --clr-grey-200: hsl(0, 0%, 96%);
  --clr-grey-100: hsl(0, 0%, 100%);

  /* primary */
  --clr-primary: hsl(13, 75%, 58%);
  --clr-primary-light: hsl(21, 86%, 67%);

  /* font families */
  --ff-app-heading: "Roboto", sans-serif;
  --ff-preview: "Roboto Slab", serif;
  --ff-editor: "Roboto Mono", monospace;

  /* light theme */
  --bg-color: var(--clr-grey-100);
  --text-color: var(--clr-grey-500);
  --heading-color: var(--clr-grey-700);
  --code-bg: var(--clr-grey-200);
  --window-header-bg: var(--clr-grey-200);
  --icon-color: var(--clr-grey-500);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --bg-color: var(--clr-grey-1000);
    --text-color: var(--clr-grey-400);
    --heading-color: var(--clr-grey-100);
    --code-bg: var(--clr-grey-800);
    --window-header-bg: var(--clr-grey-900);
    --icon-color: var(--clr-grey-400);
  }
}

[data-theme="light"] {
  --bg-color: var(--clr-grey-100);
  --text-color: var(--clr-grey-500);
  --heading-color: var(--clr-grey-700);
  --code-bg: var(--clr-grey-200);
  --window-header-bg: var(--clr-grey-200);
  --icon-color: var(--clr-grey-500);
}

[data-theme="dark"] {
  --bg-color: var(--clr-grey-1000);
  --text-color: var(--clr-grey-400);
  --heading-color: var(--clr-grey-100);
  --code-bg: var(--clr-grey-800);
  --window-header-bg: var(--clr-grey-900);
  --icon-color: var(--clr-grey-400);
}

/* global/base styles */
body {
  background: var(--bg-color);
  font: 400 0.8125rem/1.2 var(--ff-app-heading);
  color: var(--text-color);
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--clr-primary-light);
  z-index: 100;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
  font-family: var(--ff-preview);
  line-height: 1.2;
  color: var(--heading-color);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  color: var(--clr-primary);
  font-size: 0.875rem;
  font-weight: 700;
}

.heading-m {
  font: 400 0.9375rem var(--ff-app-heading);
}

.heading-s {
  font: 500 0.875rem var(--ff-app-heading);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
