.main__header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: var(--clr-grey-800);
  height: 56px;
}

.main__header-actions {
  display: flex;
  gap: 8px;
  margin: 8px;
}

.main__menu-btn {
  padding: 0 1rem;
  background: var(--clr-grey-700);
}

.main__menu-btn img {
  width: 23px;
}

.main__menu-title {
  display: flex;
  align-items: center;
  color: var(--clr-grey-100);
  position: relative;
  padding: 1rem 1.5rem 1rem 3.5rem;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 1.5rem;
    width: 1rem;
    height: 1rem;
    background-image: url("../../assets/icon-document.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.main__save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: var(--clr-primary);
  border-radius: 4px;
}

.main__save-btn:hover {
  background: var(--clr-primary-light);
}

.main__delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.main__delete-btn:disabled,
.main__save-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
